/* Borrowed from mcgill.ca */

@font-face {
    font-family: McGillSans-Regular;
    src: url(../fonts/mcgillsans/McGillSans-Regular.efdf2039.eot);
    src: url(../fonts/mcgillsans/McGillSans-Regular.efdf2039.eot?#iefix) format("embedded-opentype"),
        url(../fonts/mcgillsans/McGillSans-Regular.7ac71b20.woff) format("woff"),
        url(../fonts/mcgillsans/McGillSans-Regular.dfb7c6bf.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: McGillSans-Medium;
    src: url(../fonts/mcgillsans/McGillSans-Medium.1f8bffda.eot);
    src: url(../fonts/mcgillsans/McGillSans-Medium.1f8bffda.eot?#iefix) format("embedded-opentype"),
        url(../fonts/mcgillsans/McGillSans-Medium.0097ee5d.woff) format("woff"),
        url(../fonts/mcgillsans/McGillSans-Medium.3eb2c48e.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: McGillSans-Italic;
    src: url(../fonts/mcgillsans/McGillSans-Italic.ae7ccc91.eot);
    src: url(../fonts/mcgillsans/McGillSans-Italic.ae7ccc91.eot?#iefix) format("embedded-opentype"),
        url(../fonts/mcgillsans/McGillSans-Italic.38cf8000.woff) format("woff"),
        url(../fonts/mcgillsans/McGillSans-Italic.f3256c49.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "McGillSerif-Medium";
    src: url(../fonts/mcgillsans/McGillSerif-Medium.12d9fcf2.eot);
    src: url(../fonts/mcgillsans/McGillSerif-Medium.12d9fcf2.eot?#iefix) format("embedded-opentype"),
        url(../fonts/mcgillsans/McGillSerif-Medium.ee972601.woff) format("woff"),
        url(../fonts/mcgillsans/McGillSerif-Medium.0e222d95.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "McGillSerif-Italic";
    src: url(../fonts/mcgillsans/McGillSerif-Italic.1967e3cf.eot);
    src: url(../fonts/mcgillsans/McGillSerif-Italic.1967e3cf.eot?#iefix) format("embedded-opentype"),
        url(../fonts/mcgillsans/McGillSerif-Italic.1fa5f9c9.woff) format("woff"),
        url(../fonts/mcgillsans/McGillSerif-Italic.3897b155.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "McGillSerif-Regular";
    src: url(../fonts/mcgillsans/McGillSerif-Regular.39fe214b.eot);
    src: url(../fonts/mcgillsans/McGillSerif-Regular.39fe214b.eot?#iefix) format("embedded-opentype"),
        url(../fonts/mcgillsans/McGillSerif-Regular.2fe60a11.woff) format("woff"),
        url(../fonts/mcgillsans/McGillSerif-Regular.8b228be0.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}